.container {
  height: 100vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.login_card {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.header { margin-bottom: 40px; }

.logo_icon {
  width: 65px; height: 65px;
  background: #ffcc00; /* Gold Accent */
  color: #000;
  border-radius: 18px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-size: 30px; 
  font-weight: 900;
  margin: 0 auto 15px;
  box-shadow: 0 8px 15px rgba(255, 204, 0, 0.2);
}
.brand_name {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -0.5px;
}

.brand_name span { color: #ffcc00; }

/* --- FAST PROGRESS BAR --- */


.title { 
  font-size: 15px; 
  font-weight: 800; 
  letter-spacing: -0.5px; 
  color: #000;
  padding: 10px 0;
  margin-top: 10px;
  border: 1 solid #000;
  background-color: #ffcc00;
  border-radius: 12px;
}

.subtitle { 
  color: #adb5bd; 
  font-size: 14px; 
  margin-top: 5px; 
}

.input_group { 
  margin-bottom: 25px; 
  text-align: left; 
}

.input_group label {
  display: block; 
  font-size: 11px; 
  font-weight: 800;
  color: #adb5bd; 
  margin-bottom: 8px; 
  text-transform: uppercase;
}

.input_group input {
  width: 100%; 
  padding: 16px; 
  border-radius: 12px;
  border: 1.5px solid #f1f3f5; 
  background: #f8f9fa;
  font-size: 16px; 
  font-weight: 600; 
  outline: none;
}

.input_group input:focus {
  border-color: #ffcc00;
  background: #fff;
}

.btn_main {
  width: 100%; 
  padding: 18px; 
  background: #000; 
  color: #ffcc00;
  border: none; 
  border-radius: 15px; 
  font-weight: 900; 
  font-size: 16px;
  cursor: pointer; 
  margin-top: 10px;
}

.footer { 
  margin-top: 30px; 
  font-size: 13px; 
  color: #888; 
}

.gold_text { 
  color: #ffcc00; 
  font-weight: 800; 
  cursor: pointer; 
  text-decoration: underline; 
  margin-left: 5px; 
}